@use "../../../public/utils/colors" as c;


.h1{
    color: c.$main-color;
    font-size: 6vh;
    font-weight: 800;
    //background-color: lightgreen;
    display: flex;
    align-items: center;
    

    .logo {
        object-fit: contain;
        height: 10vh;
        width: 5vw;
    }

}   