@use "../../../public/utils/colors" as c;
.main {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: c.$sub-color;
    


    .container {
        color: c.$main-color;
        //background-color: lightcoral;
        padding: 0% 5% 5% 7%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 70%;
        width: 70vw;

        
        .h1{
            font-size: 6vh;
            font-weight: 800;
            //background-color: lightgreen;
            display: flex;
            align-items: center;

            .logo {
                object-fit: contain;
                height: 10vh;
                width: 5vw;
            }

        }   

        .h2 {
            font-size: 7vh;
            font-weight: 400;
            padding: 0 0 0 0;

            //background-color: lightseagreen;


        }

        .h3 {
            font-size: 3.3vh;
            font-weight: 300;
            margin: 0% 0% 7.5% 0%;

           //background-color: lightcyan;


        }

        .start {
            font-size: 4vh;
            font-weight: 300;

            //background-color: lightgoldenrodyellow;

            .button{
                font-weight: 400;
                font-size: 4vh;
                padding: 1%;
                margin-right: 1vw;
                background-color: c.$main-color;
                color: c.$sub-color;
                border-style: solid;
                border: c.$main-color;
                border-radius: 5%;


                &:hover {
                    background-color: c.$alter-color;
                    cursor: pointer;
                }
            }

            .login {
                color: c.$main-color;

                &:hover {
                    color: c.$alter-color;
                }
            }

        }


    }

    .imageContainer {
        height: 100vh;
        width: 30vw;

    }
}