.main {
    background: rgb(26,239,207);
    background: linear-gradient(270deg, rgba(26,239,207,1) 0%, rgba(25,175,226,1) 0%, rgba(25,128,239,1) 100%);
    height: 100vh;
  }

  .registerContainer {
    display: flex;
    justify-content: center;
  }
  